header {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    background: red;
    /* border: 2px double white; */
    padding: 20px;

    /* width: 100%; */
    /* position: -webkit-sticky; */
    position: sticky;
    top: -1px;
    font-family: sans-serif;
}
#beer-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

body {
    background: burlywood;
    font-family: Arial, sans-serif;
    margin: 0px;
}


.beer {
    /* display: flex; */
    /* flex-direction: column; */
    margin: 10px;
    border: 3px double black;
    border-radius: 10px;
    padding: 10px;
}

.beer>button:hover {
    background: yellow;
}